.footer {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 70px;
}

.footer div h1 {
  font-size: 1rem;
}